# String Formatters

In [1]:
num = 12
name = 'Sam'

In [2]:
'My number is {} and my name is {}'.format(num, name)

'My number is 12 and my name is Sam'

In [4]:
 print('My number is {one} and my name is {two}'.format(one=num, two=name))

My number is 12 and my name is Sam

# Indexing Strings

In [5]:
s = 'hello'

In [6]:
print(s[0])

h

In [7]:
print(s[-1])

o

In [8]:
# slice notation
s2 = 'abcdefghijk'

In [9]:
s2[0:]

'abcdefghijk'

In [10]:
s2[:3]

'abc'

In [11]:
s2[3:6]

'def'

# Lists

In [12]:
[1, 2, 3]

[1, 2, 3]

In [13]:
mylist = ['a', 'b', 'c']

In [14]:
print(mylist)

['a', 'b', 'c']

In [15]:
mylist.append('d')
print(mylist)

['a', 'b', 'c', 'd']

In [16]:
mylist[1:3]

['b', 'c']

In [17]:
mylist[0] = 'new'
print(mylist)

['new', 'b', 'c', 'd']

In [18]:
alist = [1, 2, [3, 4]]

In [19]:
alist[2]

[3, 4]

In [20]:
print(alist[2][1])

4

In [21]:
nest = [1, 2, 3, [4, 5, ['target']]]

In [22]:
print(nest[3][2][0])

target

# Dictionaries

In [23]:
d = {'key1': 'value', 'key2': 123}

In [24]:
d[0]

KeyError: 0

In [25]:
d['key2']

123

In [26]:
d = {'k1': [1, 2, 3]}

In [27]:
print(d)

{'k1': [1, 2, 3]}

In [28]:
print(d['k1'][0])

1

In [29]:
d2 = {'k1': {'innerkey': [1, 2, 3]}}

In [30]:
# Grab 1 from d2
print(d2['k1']['innerkey'][0])

1

# Booleans

In [31]:
True

True

In [32]:
False

False

# Tuples

In [33]:
t = (1, 2, 3)

In [34]:
print(t[0])

1

In [35]:
# key difference between List and Tuple
my_list = [1, 2, 3]
print(my_list)
my_list[0] = 'New'
print(my_list)

[1, 2, 3]
['New', 2, 3]

In [36]:
# we cannot reassign in a tuple
t[0] = 'New'

TypeError: 'tuple' object does not support item assignment

# Sets

In [37]:
s1 = {1, 2, 3}
print(s1)

{1, 2, 3}

In [38]:
s2 = {1, 1, 1, 2, 2, 3, 3, 3}
print(s2)

{1, 2, 3}

In [39]:
s1 == s2

True

In [40]:
set([1, 1, 1, 2, 2, 3, 4, 4, 5, 5, 5])

{1, 2, 3, 4, 5}

In [41]:
s3 = {1, 2, 3}

In [42]:
s3.add(4)

In [43]:
print(s3)

{1, 2, 3, 4}

In [44]:
s3.add(4)

In [45]:
print(s3)

{1, 2, 3, 4}

# Comparison Operators

In [46]:
1 > 2

False

In [47]:
1 < 2

True

In [48]:
1 == 3

False

In [49]:
1 != 3

True

In [50]:
'h1' == 'bye'

False

In [51]:
'hi' != 'bi'

True

In [52]:
True and False

False

In [53]:
True or False

True

# Conditional Statements

In [54]:
if 1 < 2:
    print('Yep!')

Yep!

In [55]:
if 1 == 2:
    print('first!')
else:
    print('last!')

last!

In [56]:
if 1 > 2:
    print('first!')
elif 3 == 3:
    print('middle!')
else:
    print('last')

middle!

# Loops (for & while)

In [57]:
# for loops allow to iterate a sequence
seq = [1, 2, 3, 4, 5]

In [58]:
for item in seq:
    print(item)

1
2
3
4
5

In [59]:
# while loop is used to continually perform an action until a condition is met
i = 1

while (i < 5):
    print('i is {}'.format(i))
    i = i + 1

i is 1
i is 2
i is 3
i is 4

# Built-in functions

In [60]:
range(0, 10)

range(0, 10)

In [61]:
for x in range(0, 5):
    print(x)

0
1
2
3
4

In [62]:
list(range(0, 5))

[0, 1, 2, 3, 4]

# List Comprehension

In [63]:
x = [1, 2, 3, 4]

In [64]:
out = []

In [65]:
for num in x:
    out.append(num ** 2)

In [66]:
print(out)

[1, 4, 9, 16]

In [67]:
[ num ** 2 for num in x]

[1, 4, 9, 16]

# Functions

In [68]:
def my_func(param1):
    print(param1)

In [69]:
my_func('Hello')

Hello

In [70]:
def my_func(name):
    print('Hello ' + name)

In [71]:
my_func('Piklu')

Hello Piklu

In [72]:
def my_func(name='Default'):
    print('Hello ' + name)

In [73]:
my_func()

Hello Default

In [74]:
my_func('World')

Hello World

In [75]:
def square(num):
    return num ** 2

In [76]:
outputs = square(3)

In [77]:
print(outputs)

9

# Map, Filter & Lambdas

In [78]:
seq = [1, 2, 3, 5]

In [80]:
def times2(val):
    return val * 2

In [81]:
times2(10)

20

In [82]:
map(times2, seq)

In [83]:
list(map(times2, seq))

[2, 4, 6, 10]

In [86]:
# lambda expression
lambda var: var * 2

In [87]:
t = lambda var: var * 3

In [88]:
t(30)

90

In [89]:
print(seq)

[1, 2, 3, 5]

In [91]:
list(map(lambda num: num * 5, seq))

[5, 10, 15, 25]

In [93]:
# using filter
list(filter(lambda num: num % 2 == 0, seq))

[2]

# Methods

In [94]:
s = 'my name is Piklu'

In [95]:
s.lower()

'my name is piklu'

In [96]:
s.upper()

'MY NAME IS PIKLU'

In [97]:
s.split()

['my', 'name', 'is', 'Piklu']

In [98]:
tweet = 'Go Sports! #Sports'

In [99]:
tweet.split()

['Go', 'Sports!', '#Sports']

In [100]:
d = {'k1': 1, 'k2': 2}

In [102]:
d.keys()

dict_keys(['k1', 'k2'])

In [107]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [108]:
d.values()

dict_values([1, 2])

# Tuple Unpacking

In [109]:
x = [(1, 2), (3, 4), (5, 6)]

In [110]:
x[0][1]

2

In [111]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [112]:
for (a, b) in x:
    print(a)

1
3
5

In [113]:
for (a,b) in x:
    print(b)

2
4
6

In [114]:
for a, b in x:
    print(a)
    print(b)

1
2
3
4
5
6